.result-body{
    background: #232323;
    min-height: 600px;
}

.result-body-list{
    padding:  60px 50px 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline-start: 0;
}

.result-body-empty{
    font-size: 60px;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}