.app-container{
    margin: 0 auto;
    width: 1280px;
}

.app-container-lower-panel{
    background-color: #424242;
    text-align: center;
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}